<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="save-user" method='POST'>
        <table>
            <input type='text' name='username' placeholder="username">
            <input type='text' name='name' placeholder="name">
            <input type='text' name='surname' placeholder="surname">
            <input type='email' name='email' placeholder="email">
            <input type='number' name='phoneNumber' placeholder="phoneNumber">
            <input type='text' name='info' placeholder="info">
            <input type='password' name='password' placeholder="password"/>
            <input name="submit" type="submit" value="submit" />
        </table>
    </form>
</body>
</html>
